@layer utilities {
    /* Backgrounds */
    .bg-linkoreo {
        background-image: url("../gfx/bg.svg");
        @apply bg-cover bg-center bg-no-repeat;
    }

    /* Jumbo Link */
    .jumbo-link {
        @apply btn btn-soft shadow-md flex flex-col gap-0 px-4 py-2 transform transition-transform duration-200
        hover:-translate-y-0.5 hover:shadow-lg w-full rounded-xl h-auto;
    }

    /* Edit Button */
    .edit-button {
        @apply font-semibold badge badge-primary badge-sm opacity-0 group-hover:opacity-100
        transition-opacity duration-200 z-10 right-3;
    }

    /* Importance styles */

    /* Plain */
    .importance-0 {@apply btn-soft;}

    /* Important */
    .importance-1 {
        @apply border-l-4 border-l-green-600 hover:border-l-green-500 hover:bg-green-700 hover:text-white;
    }

    /* Very Important */
    .importance-2 {
        @apply border-l-4 border-l-orange-600 hover:border-l-orange-500 hover:bg-orange-700 hover:text-white;
    }

    /* Game Changer */
    .importance-3 {
        @apply border-l-4 border-l-rose-600 hover:border-l-rose-500 hover:bg-rose-700 hover:text-white;
    }

    /* Text Utilities */
    .limit-text {
        max-width: 35ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}